.flex-contentleft-itemscenter {
    display: flex;
    justify-content: left;
    align-items: center;
}

.available-slots-main {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}

.sideleft-nav {
    width: 20%;
    background-color: var(--blue1);
    padding: 35px 20px;
    position: fixed;
    left: 0;
    bottom: 0;
    top: 0;
}

.sideleft-nav .profile_dtls .user_name {
    margin-left: 0;
}
 
.available-slots-header {
    padding: 1rem 0rem 0rem 0rem;
    color: #fff;
    font-size: 20px;
    word-wrap: break-word;
}
 
.available-slots-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-flow: row wrap;
}

.available-slots-main .sideright-main {
    width: 80%;
    margin-left: 20%;
    background-color: var(--white1);
}

.available-slots-main .sideright-main .top-head{
    width: 100%;
    border-bottom: 2px solid #C5DEF7;
    display: flex;
    font-family: var(--primaryFont);
    align-items: center;
    padding: 0.2rem 2rem;
}

.available-slots-main .sideright-main .top-head .timezone-select {
    font-size: 12px;
    font-weight: 600;
}

.slots-container1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.available-slots-container .login-form-outer-div {
    width: 100%;
}

.slots-container2 {
    margin: 20px 0px;
    border-radius: 10px
}

.slots-container2 .MuiPickersCalendarHeader-label {
    font-size: 14px;
    font-weight: 600;
}

.slots-container3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.time-slot {
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(3, 1fr);
}

.slots-container2 .MuiPickersCalendarHeader-root {
    background-color: var( --blue2);
    margin: 0px;
    padding: 27px 15px;
    border-radius: 8px 8px 0px 0px;
}

.slots-container2 .MuiStack-root {
    padding: 0;
}

.slots-container2 .MuiTypography-root {
    font-weight: bold;
    font-size: 15px;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.pagination button {
    padding: 10px;
    width: 90px;
    border: none;
    background-color: #94ace2;
    border-radius: 5px;
    font-weight: bold;
}

.booking-confirm {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.booking-confirm-details {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    font-size: larger;
}

.slots-container2 .MuiDayCalendar-root {
    background-color: var(--grey2);
}

.sidelogo {
    margin-bottom: 0px;
}

.sidelogo > p {
    font-family: "Quicksand", sans-serif;
    font-size: 14px;
    color: #fff;
}

.sideleft-nav .profile_dtls {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 50px;
}

.sideleft-nav .profile_dtls .MuiAvatar-circular {
    background-color: #A5DBE5;
}

.sideleft-nav .profile_dtls .MuiAvatar-circular > svg {
    color: #6298BB;
}

.sideleft-nav .profile_dtls  .user_name {
    font-family: "Quicksand", sans-serif;
    font-size: 22px;
    font-weight: 600;
    color: #fff;
}

.profile-adnl-info {
    display: flex;
    font-size: 14px;
    margin-bottom: 8px;
    font-family: "Quicksand", sans-serif;
}

.profile-adnl-info svg {
    margin-right: 8px;
    width: 22px;
}

.slots-container3 .pagination button {
    background-color: var(--blue3);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 3px;
}

.slots-container3 .pagination button:disabled {
    opacity: 0.3;
}

.slots-container3 .pagination button  > svg {
    width: 15px;
    color: #fff;
}

.available-slots-container .login-form-inner-div  {
    width: 100%;
    padding: 1rem 3rem 2rem;
}

.available-slots-container form {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
}

.available-slots-container form .MuiFormControl-fullWidth {
    max-width: 100%;
}

.available-slots-container form .frm-left {
    width: 66%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}



.available-slots-container form .frm-right {
    width: 31%;
}

.available-slots-container form .frm-right .MuiFormControl-root > label {
    top: 0;
    margin-bottom: 8px;
}

.available-slots-container form .form-act {
    width: 100%;
    margin-top: 25px;
    text-align: center;
}

.available-slots-container form .form-act button {
    background-color: var(--blue3);
    border-radius: 50px;
    text-transform: capitalize;
    padding: 10px;
    font-weight: 100;
}

.booking-confirm-main {
    min-height: 100vh;
    background-color: var(--white1);
}

.booking-confirm-main .sideright-main{
    width: 80%;
    margin-left: 20%;
}

.booking-confirm-main .top-head{
    width: 100%;
    border-bottom: 2px solid #C5DEF7;
    font-family: "Quicksand", sans-serif;
    padding: 0.2rem 2rem;
}

.booking-details-info {
    padding: 6rem;
    background-color: #fff;
}

.user_name {
    font-size: 1.4rem;
    font-weight: 700;
    font-family: "Quicksand", sans-serif;
    margin-left: 20px;
}

.user_dt > svg {
    color: #6298BB;
    width: 66px;
    height: 59px;
}

.calendar_txt {
    font-size: 20px;
    color: #707070;
    font-weight: 600;
    font-family: "Quicksand", sans-serif;
}

.booking-confirm-details {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    border: 1px solid #737373;
    border-radius: 20px;
    padding: 23px 40px 30px;
    margin-bottom: 0px;
}

.booking-confirm-details h4 {
    font-size: 22px;
    font-family: "Quicksand", sans-serif;
}

.booking-confirm-details p {
    font-size: 18px;
    font-family: "Quicksand", sans-serif;
    font-weight: 600;
    color: #707070;
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.booking-confirm-details p > svg {
    margin-right: 12px;
    width: 30px;
    height: 30px;
}

.event-calendar {
    margin-bottom: 60px;
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
}

.event-calendar p {
    font-size: 16px;
    font-weight: 600;
    font-family: "Quicksand", sans-serif;
}

.event-calendar ul {
    display: flex;
    padding: 0;
}

.event-calendar ul > li {
    margin-right: 40px;
    display: flex;
    flex-flow: column wrap;
}

.event-calendar ul > li  > img {
    margin-bottom: 15px;
}

.event-calendar ul > li  > span {
    font-size: 12px;
}

.event-act button {
    background-color: var(--blue1);
    border-radius: 30px;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    font-family: "Quicksand", sans-serif;
    padding: 12px 40px;
}

.available-slots-main .tag-text {
    margin: 5px 0;
    font-size: 11px;
    color: var(--white1);
    font-weight: 100;
    word-wrap: break-word;
}

.available-slots-main .sideleft-nav .profile-adnl-info .MuiSvgIcon-root {
    fill: var(--white1);
}

.slot-availability-container-2 {
    padding: 2rem 3rem;
}

.slot-availability-container-2 .slots-container2 {
    width: 40%;
}

.slot-availability-container-2 .slots-container3 {
    width: 60%;
}

/* Question List Item */
.slot-ques-wrp {
    background-color: var(--white1);
    min-height: 100vh;
}

.date-time-dtls {
    font-size: 18px;
    color: var(--grey4);
}
.date-time-dtls svg {
    width: 24px;
    height: 24px;
}
.ques_list_item {
    padding: 30px 60px;
    max-width: 1300px;
    margin: auto;
}
.qus-item {
    border: 1px solid var(--blue1);
    margin-bottom: 25px;
    padding: 15px 25px;
    border-radius: 7px;
}

.qus-item > h3 {
    position: relative;
    padding-left: 20px;
}
.qus-item > h3::before {
    position: absolute;
    left: 0;
    content: 'Q';
    top: -5px;
    font-size: 22px;
}
.qus-item .MuiFormControl-root .MuiInputBase-root {
    background-color: var(--grey6);
    width: 100%;
    padding: 0 10px;
    border: 0;
}
.qus-item .MuiFormControl-root .MuiInputBase-root.Mui-error {
    border: 1px solid var(--errorColor);
}
.qus-item .MuiFormControl-root .MuiInputBase-root .MuiInputBase-input {
    height: 60px;
}
.available-slots-main .sideright-main .top-head > .date_lbl {
    width: 30%;
    margin-right: 33%;
}


@media (min-width: 1720px) {
    .sideleft-nav {width: 20%;}
    .available-slots-main .sideright-main {
        width: 80%;
        margin-left: 20%;
    }
    .available-slots-main .sideright-main .top-head > .date_lbl {
        width: 55%;
        margin: 0;
    }
    .slot-availability-container-2 {
        justify-content: center;
    }
    .slot-availability-container-2 .slots-container2 {
        width: 28%;
    }
    .slot-availability-container-2 .slots-container3 {
        width: 38%;
    }
    .available-slots-container .login-form-outer-div {
        display: flex;
        justify-content: center;
    }
    .available-slots-container .login-form-inner-div {
        width: 68%;
    }
}

.sideleft-nav .sidelogo > img{
    object-fit: contain;
}

/* Mobile View Design */
@media (max-width: 767px) {
    .available-slots-main {
        flex-flow: row wrap;
        align-items: flex-start;
        background-color: var(--white1);
    }
    .available-slots-main .sideleft-nav{
        position: relative;
        width: 100%;
        padding: 22px 15px 10px;
    }
    .available-slots-main .slots-container2 {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .slots-container3 {
        padding: 25px;
        width: 100%;
    }
    .login-form-outer-div {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }
    .available-slots-main .guest-form-slot {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    } 
    .available-slots-main .guest-form-slot form {
        width: 100%;
        padding: 30px;
    }
    .available-slots-main .guest-form-slot form .form-col-2 {
        width: 100%;
    }

    .sideleft-nav .sidelogo .bk_slt_usr {
        font-size: 16px;
        font-weight: 600;
        color: #fff;
    }

    .sideleft-nav .sidelogo > img {
        margin-right: 15px;
        border-radius: 50%;
    }
    .sideleft-nav .slt_time {
        display: flex;
        justify-content: center;
        font-size: 28px;
        align-items: center;
        margin-bottom: 25px;
        font-weight: 600;
    }
    .available-slots-header {
        padding: 0;
        font-size: 16px;
    }
    .cnfrnc_dtls {
        width: 53%;
        font-size: 11px;
        display: flex;
        align-items: flex-end;
    }
    .sideleft-nav .profile_dtls {
        margin: 0;
        position: absolute;
        right: 15px;
        bottom: -25px;
    }
    .sideleft-nav .profile_dtls .MuiAvatar-root {
        width: 50px;
        height: 50px;
    }
    .tg_dtls {
        padding-bottom: 23px;
        display: flex;
        flex-flow: column wrap;
        align-items: flex-end;
    }

    .available-slots-main .slots-container2 .MuiDateCalendar-root {
        width: 325px;
        height: 370px;
        max-height: 500px;
    }
    .available-slots-main .MuiPickersCalendarHeader-root .MuiPickersCalendarHeader-label {
        font-size: 16px;
    }
    .available-slots-main .MuiPickersArrowSwitcher-root .MuiButtonBase-root {
        font-size: 22px;
    }
    .MuiPickersArrowSwitcher-root .MuiButtonBase-root .MuiSvgIcon-root {
        fill: #000;
    }
    .available-slots-main .MuiDayCalendar-root .MuiDayCalendar-weekDayLabel {
        width: 40px;
        height: 40px;
        font-size: 16px;
    }
    .available-slots-main .MuiDayCalendar-root .MuiPickersDay-root {
        font-size: 16px;
        width: 40px;
        height: 40px;
    }
    .slots-container2 .MuiDayCalendar-root {
        padding: 10px 0 30px;
    }
    .tme_zone {
        padding: 20px;
        border-bottom: 3px solid #C5DEF7;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        color: #6a6a6a;
    }
    .tme_zone .slctd_dt-1 {
        color: var(--black1);
        position: relative;
    }
    .tme_zone .slctd_dt-1 .back-to {
       position: absolute;
       left: 13px;
       top: 23px;
    }
    .slots-container3 .time-slot {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        gap: 20px;
        margin-bottom: 30px;
    }
    .slots-container3 .time-slot > div {
        padding: 20px 15px !important;
        font-size: 16px !important;
        font-weight: 600;
        width: 100px;
    }
    .slots-container3 .pagination {
        gap: 35px;
    }
    .guest-form-slot .form-act {
        margin-top: 35px;
    }
    .guest-form-slot .form-act button {
        width: 100%;
        padding: 12px;
        font-size: 14px;
        font-weight: 600;
    }
    .guest-form-slot form .input-label {
        font-size: 12px;
        color: #000;
    }
    .guest-form-slot form  .MuiInputBase-root .MuiInputBase-input {
        font-size: 14px;
    }
    .booking-confirm-main .sideright-main {
        margin: 0;
        width: 100%;
    }
    .booking-confirm-main .sideright-main .ques_list_item {
        padding: 0 30px 50px;
    }
    .booking-confirm-main .sideright-main .ques_list_item > h1,
    .booking-confirm-main .sideright-main .ques_list_item > .date-time-dtls {
        display: none;
    }
    .booking-confirm-main .qus-item textarea {
        margin-left: 1px;
    }
    .booking-confirm-main .ques_list_item .MuiButton-root.secondary_btns {
        display: none;
    }
    .booking-confirm-main .ques_list_item .MuiButton-root.primary_btns {
       width: 100%;
       padding: 15px;
       font-size: 14px;
       font-weight: 600;
    }
    .booking-confirm-main .booking-details-info {
        padding: 25px;
    }
    .booking-confirm-main .booking-details-info .user_dt {
        display: flex;
        align-items: center;
        flex-flow: column wrap;
        margin-bottom: 15px;
    }
    .booking-confirm-main .booking-details-info .user_dt .calendar_txt {
        font-size: 12px;
    }
    .booking-confirm-details h4 {
        width: 100%;
    }
    .user_dt > svg {
        width: 75px;
        height: 75px;
    }
    .sideleft-nav .sidelogo .tag-text {
        padding-right: 20px;
        margin-bottom: 25px;
        margin-top: 10px;
    }
    .stp_1_tm-zn {
        display: flex;
        align-items: center;
    }
    .stp_1_tm-zn .profile-adnl-info {
        margin-bottom: 0;
        margin-left: 20px;
        color: #6298BB;
        display: flex;
        align-items: center;
        font-size: 16px;
        font-weight: 600;
    }
    .slots-container3 .pagination button > svg {
        fill: #fff;
    }
    .booking-details-info .calendar_txt {
        font-size: 12px;
    }
}