
/* Button Color CSS*/
.thm-green .MuiButton-root {
    background-color: var(--greenPrimaryBtn);
    border-color: var(--greenPrimaryBtn);
    color: var(--greenPrimaryBtnTextColor);
}
.thm-green .MuiButton-root.Mui-disabled {
    background-color: var(--greenPrimaryBtn);
    color: var(--greenPrimaryBtnTextColor);
}
.thm-green .primary_btns, 
.thm-green .submit-btn,
.thm-green .MuiButtonBase-root.MuiButton-root {
    background-color: var(--greenPrimaryBtn);
    border-color: var(--greenPrimaryBtn);
    color: var(--greenPrimaryBtnTextColor);
}
.thm-green .primary_btns:hover, 
.thm-green .submit-btn:hover,
.thm-green .MuiButtonBase-root.MuiButton-root:hover {
    background-color: var(--greenPrimaryBtnHover);
    border-color: var(--greenPrimaryBtnHover);
}
.thm-green .MuiButton-root.secondary_btns, 
.thm-green .MuiButton-root.cancel-btn {
    border-color: var(--greenSecondaryTextColorBtn);
    color: var(--greenSecondaryTextColorBtn);
    background-color: transparent;
}

.thm-green .MuiButton-root.secondary_btns:hover,
.thm-green .MuiButton-root.cancel-btn:hover {
    background-color: var(--greenSecondaryHoverColorBtn);
}

.thm-green .MuiButton-colorPrimary {
    background-color: var(--greenPrimaryBtn);
    border-color: var(--greenPrimaryBtn);
    color: var(--dark2_white_text-color);
}
.thm-green .MuiButton-colorPrimary:hover {
    background-color: var(--greenPrimaryBtnHover);
    border-color: var(--greenPrimaryBtnHover);
}

.thm-green .primary_btns {
    background-color: var(--greenPrimaryBtn);
    border-color: var(--greenPrimaryBtn);
}
.thm-green .primary_btns:hover {
    background-color: var(--greenPrimaryBtnHover);
    border-color: var(--greenPrimaryBtnHover);
}

.thm-green .secondary_btns {
    color: var(--greenPrimaryBtn);
    border-color: var(--greenPrimaryBtn);
}
.thm-green .secondary_btns:hover {
    background-color: var(--greenPrimaryBtnHover);
    border-color: var(--greenPrimaryBtnHover);
}

.thm-green .btn_wth_opts svg path {
    fill: var(--greenPrimaryBtn);
}
.thm-green .btn_wth_opts > .opnts {
    background-color: var(--dark2_custm_drpdwn_bg-clr);
}
.thm-green .btn_wth_opts > .opnts > li:hover {
    background-color: var(--green1);
}
.thm-green .btn_wth_opts > .opnts > li > a {
    color: var(--white1);
    text-decoration: none;
}

/*Button for Empty Data Table  */
.thm-green .no-tbl_data_msg .trgt_link {
    background-color: var(--dark2-simple_table_link-bg-clr);
}

/* Pick Contact list Button Dropdown */ 
.thm-green .pck_cntct_list_drpdwn > button {
    border-color: var(--dark2_white_text-color);
    background-color: transparent;
    color: var(--dark2_white_text-color);
}

.thm-green .pck_cntct_list_drpdwn > button > svg,
.thm-green .pck_cntct_list_drpdwn > button > svg > path {
    stroke: var(--dark2_white_text-color);
}
.thm-green .pck_cntct_list_drpdwn:hover > button {
    background-color: var(--green6);
}
.thm-green .pck_cntct_list_drpdwn > ul {
    border: 1px solid var(--dark2_custm_drpdwn_bdr-clr);
    background-color: var(--dark2_custm_drpdwn_bg-clr);
}
.thm-green .pck_cntct_list_drpdwn > ul > li:hover {
    background-color: var(--dark2_custm_drpdwn_opt-actv-bg-clr);
}

.thm-green .secondary_btns .linear-icon svg,
.thm-green .secondary_btns .linear-icon svg path,
.thm-green .linear-icon svg path {
  stroke: var(--greenPrimaryBtn);
}

/* Back to Arrow */
.thm-green .back-to > svg > path {
    stroke: var(--dark2_white_text-color);
}

.thm-green .primary_btns.svg-linr-icns svg,
.thm-green .primary_btns.svg-linr-icns svg path {
  fill: none;
  stroke: var(--black1);
}